/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.header{
    background-image: linear-gradient(to right bottom,hsla(160, 64%, 43%, 0.80),hsla(111, 55%, 64%, 0.80)), url('../../assets/hero.jpg');
    height: 85vh;
    clip-path: polygon(0 0,100% 0,100% 85%,0% 100%);
    background-position: top;
    background-size: cover;
    position: relative;
}

.brand img{
    position: absolute;
    height: 2.4rem;
    top: 1rem;
    left: 1rem;
}

.heading{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #777;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-main{
    font-size: 3.6rem;
    display: block;
    font-weight: 800;
    letter-spacing: 2.4rem;
    animation: toRight 1s ease-out;
}
.heading-sub{
    font-size: xx-large;
    display: block;
    letter-spacing: .2rem;
    animation: toLeft 1s ease-out;
}

@keyframes toRight {
    0%{
        transform: translateX(-50px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes toLeft {
    0%{
        transform: translateX(50px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes toTop {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.btn{
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 200rem;
    box-shadow: .12rem .12rem rgba(0, 0, 0, 0.655);
    color: black;
    animation: toTop 1s;
    
}

.btn:hover{
    transform: translateY(-.1rem);
    box-shadow: .12rem .16rem rgba(0, 0, 0, 0.655);
}

.btn:active{
    transform: translateY(0rem);
    box-shadow:none;
}

.btn-white{
    margin-top: 1rem;
    background-color: white;
}